<resources>
    <style name="Theme.{{ app_name | replace(' ', '') | replace('-', '') }}" parent="Theme.MaterialComponents.DayNight.NoActionBar">
        <item name="colorPrimary">#667EEA</item>
        <item name="colorPrimaryVariant">#5A6FD6</item>
        <item name="colorOnPrimary">@android:color/white</item>
        <item name="colorSecondary">#764BA2</item>
        <item name="colorSecondaryVariant">#5A3D7A</item>
        <item name="colorOnSecondary">@android:color/white</item>
        <item name="android:statusBarColor">#667EEA</item>
    </style>
</resources>
