[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/run.sh
Restart=on-failure
RestartSec=5

Environment=APP_MODE=production

[Install]
WantedBy=multi-user.target