[Unit]
Description={{ app_name }}
After=network-online.target rc-local.service
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/run.sh
Restart=always
RestartSec=5
Environment=APP_MODE=production

[Install]
WantedBy=multi-user.target