[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ install_dir }}/app
ExecStart={{ install_dir }}/run.sh
Restart=on-failure
RestartSec=5

Environment=APP_MODE=production
Environment=PYTHONPATH={{ install_dir }}/app:{{ install_dir }}/app_packages

[Install]
WantedBy=multi-user.target
