#!/bin/bash
SCRIPT_DIR="$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")"
PYTHON="${SCRIPT_DIR}/runtime/bin/python{{ python_version }}"
if [ ! -x "$PYTHON" ]; then
  echo "Error: Python runtime not found" >&2
  exit 1
fi
export PYTHONPATH="${SCRIPT_DIR}/{{ app_name }}-{{ version }}/app:${SCRIPT_DIR}/{{ app_name }}-{{ version }}/app_packages"
export APP_VERSION="{{ version }}"
exec -a "{{ app_module }}" "$PYTHON" -s -m {{ app_module }} "$@"